.main-heading {
display: flex;
justify-content: space-between;
}

.data-indicator-block {
  height: 100%;
  width: 100%;
}

.data-indicator-title a {
    color: '#012740' !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    line-height: 150% !important;
    letter-spacing: -0.084px !important;
}
.data-up-arrow, .data-down-arrow {
 min-width: 40px;
    min-height: 40px;
}
.chart-value {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;
}

.arrow-icon {
  display: inline-flex;
  align-items: flex-end; 
}
.arrow-icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 4px;
}
